//- 页脚内容
.footer
  .footer-powered-by
    | Theme by&nbsp;
    a(href="http://youwei.live", target="_blank") Devin Yuan
    | , Proudly published with&nbsp;
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo

  .footer-slogan #{theme.footer.slogan}
